.adsbg {
    background-image: url(./../../images/banner-11.png);
    background-size: cover;
    background-position: center;
}
.adsbg1 {
    background-image: url(./../../images/header.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.adsbg2 {
    background-image: url(./../../images/headphone.jpg);
    background-size: cover;
    background-position: center;
}